{# this is a comment, ain't it? #}

this is a random string where I add my ansible facts object:

{{ ansible_facts }}


This is a random string where I add my ansible_fact object plus 1 property. 

{{ ansible_fact['ansible_ip_addresses'] }}